// Colours
$monza: #E20613;
$deep-koamaru: #17177A;
$white: #FFFFFF;
$black: #000000;

$illusion: #F79CD4;
$mine-shaft: #333333;
$dove-gray: #666666;
$dusty-gray: #999999;
$silver: #CCCCCC;
$mercury: #E2E2E2;

// Fonts
$body-font: 'Karla', sans-serif;

// Sizes
$nav-height: 50px;
$shadow-bottom: 7px;
$shadow-right: 5px;